In [4]:
# Check if all items in the tuple are the same\
t=(45,45,55,45,45)
#to check all the items in the tuple
all_same=all(i==t[0] for i in t)
print(all_same)
if all_same:
    print("All items in the tuple are the same")
else:
    print("Not all items in the tuple are the same")

False
Not all items in the tuple are the same

In [5]:
# Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [6]:
#  Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1=sorted(list(tuple1),key=lambda x:x[1])
tuple(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [7]:
# Modify the tuple
# Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [8]:
# Copy specific elements from one tuple to a new tuple
# Write a program to copy elements 44 and 55 from the following tuple into a new tuple.
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

In [9]:
# Swap two tuples in Python\
tuple1 = (11, 22)
 
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
print(tuple1,tuple2)

(99, 88) (11, 22)

In [10]:
# : Unpack the tuple into 4 variables
# Write a program to unpack the following tuple into four variables and display each variable.
tuple1 = (10, 20, 30, 40)

a,b,c,d = tuple1

print(a)
print(b)

10
20

In [11]:
#Create a tuple with single item 50
tuple1=(50,)
print(tuple1)

(50,)

In [12]:
# : Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [16]:
print(i for i in tuple1)
for x in tuple1:
    print(x)

<generator object <genexpr> at 0x0000021B7F08FC60>
10
20
30
40
50